In [1]:
import pandas as pd
import numpy as np
from HKdata import HKdata

data = HKdata('2800.HK')

#print df.weekly.tail(20) #[['Volume','AvgDVol','Count']]
#print df.daily.tail(30)
#print df.raw.tail(30)

In [2]:
import talib
df = data.weekly
df['SMA2'] = talib.SMA(df['Close'], timeperiod=2)
print df

             Open   High    Low  Close     Volume   AvgDVol  Count    SMA2
WeekStart
2007-12-31  28.05  28.05  27.00  27.75   16237845   4059461      4     NaN
2008-01-07  27.20  27.90  26.85  27.05   24991164   4998232      5  27.400
2008-01-14  27.15  27.40  24.20  25.35   51781030  10356206      5  26.200
2008-01-21  24.75  25.50  21.85  25.35  101572949  20314589      5  25.350
2008-01-28  24.30  25.00  23.25  24.30   39163210   7832642      5  24.825
2008-02-04  24.95  25.30  23.40  23.55   22021975   7340658      3  23.925
2008-02-11  23.60  24.40  22.70  24.30   40680702   8136140      5  23.925
2008-02-18  24.50  24.60  23.25  23.60   37442282   7488456      5  23.950
2008-02-25  23.60  25.05  23.30  24.45   55660255  11132051      5  24.025
2008-03-03  23.50  24.05  22.60  22.75   53164217  10632843      5  23.600
2008-03-10  22.55  24.00  22.25  22.50   66898455  13379691      5  22.625
2008-03-17  21.60  22.45  20.85  21.50   87644335  21911083      4  22.000
2008-03-24  21.70  23.70  21.70  23.50   46522170  11630542      4  22.500
2008-03-31  23.20  24.60  22.95  24.45   37055052   9263763      4  23.975
2008-04-07  24.60  25.00  24.20  24.95   36372861   7274572      5  24.700
2008-04-14  24.10  24.75  23.90  24.50   26038910   5207782      5  24.725
2008-04-21  25.00  26.20  24.75  25.90   46314117   9262823      5  25.200
2008-04-28  26.00  26.55  25.70  26.45   24595802   6148950      4  26.175
2008-05-05  26.25  26.60  25.05  25.20   25866027   5173205      5  25.825
2008-05-12  25.25  26.00  25.25  25.85   19083962   4770990      4  25.525
2008-05-19  26.00  26.00  24.95  25.00   28016525   5603305      5  25.425
2008-05-26  24.70  25.00  24.40  24.90   24242761   4848552      5  24.950
2008-06-02  24.90  25.25  24.20  24.85   65786931  13157386      5  24.875
2008-06-09  24.10  24.15  23.00  23.10   84406997  21101749      4  23.975
2008-06-16  23.30  23.85  23.10  23.15   55533536  11106707      5  23.125
2008-06-23  22.80  23.30  22.20  22.40   88248537  17649707      5  22.775
2008-06-30  22.50  22.70  21.60  21.80   74675665  18668916      4  22.100
2008-07-07  21.95  22.60  21.45  22.50   60522167  12104433      5  22.150
2008-07-14  22.50  22.75  21.40  22.30   89048637  17809727      5  22.400
2008-07-21  22.70  23.75  22.70  23.15   49701374   9940274      5  22.725
...           ...    ...    ...    ...        ...       ...    ...     ...
2018-07-16  29.35  29.40  28.45  28.95  139653413  27930682      5  29.100
2018-07-23  29.00  29.80  28.80  29.45  121967815  24393563      5  29.200
2018-07-30  29.35  29.60  28.30  28.35  127419492  25483898      5  28.900
2018-08-06  28.55  29.50  28.45  29.00  155177026  31035405      5  28.675
2018-08-13  28.75  28.85  27.65  27.95  208304830  41660966      5  28.475
2018-08-20  27.95  28.80  27.95  28.40  162316693  32463338      5  28.175
2018-08-27  28.70  29.35  28.55  28.65  135589495  27117899      5  28.525
2018-09-03  28.55  28.85  27.50  27.80  172757934  34551586      5  28.225
2018-09-10  27.80  28.25  27.10  28.15  265572164  53114432      5  27.975
2018-09-17  27.95  28.90  27.50  28.85  157549404  31509880      5  28.500
2018-09-24  28.70  28.95  28.30  28.65  117668515  29417128      4  28.750
2018-10-01  28.70  28.70  27.30  27.50  164935409  41233852      4  28.075
2018-10-08  27.60  27.65  26.05  26.70  235843843  47168768      5  27.100
2018-10-15  26.50  26.70  26.05  26.50  158331257  39582814      4  26.600
2018-10-22  26.65  27.20  25.50  25.65  306065206  61213041      5  26.075
2018-10-29  25.85  26.70  24.85  26.60  303521046  60704209      5  26.125
2018-11-05  26.20  26.70  25.60  25.75  132460666  26492133      5  26.175
2018-11-12  25.80  26.40  25.25  26.30  143827979  28765595      5  26.025
2018-11-19  26.40  26.60  25.65  26.15  108033878  21606775      5  26.225
2018-11-26  26.25  27.10  26.25  26.70  133884865  26776973      5  26.425
2018-12-03  27.40  27.50  26.15  26.20  158229771  31645954      5  26.450
2018-12-10  25.95  26.85  25.70  26.30  139816262  27963252      5  26.250
2018-12-17  26.35  26.40  25.50  25.95   97069144  19413828      5  26.125
2018-12-24  25.75  26.15  25.60  25.65   40880142  13626714      3  25.800
2018-12-31  26.00  26.15  25.05  25.80  121034119  30258529      4  25.725
2019-01-07  26.20  26.90  25.90  26.80  223926344  44785268      5  26.300
2019-01-14  26.80  27.35  26.35  27.25  139716261  27943252      5  27.025
2019-01-21  27.30  27.80  27.00  27.80  155749522  31149904      5  27.525
2019-01-28  27.85  28.40  27.55  28.10  199250523  39850104      5  27.950
2019-02-04  28.10  28.20  28.05  28.15    9131935   9131935      1  28.125

[578 rows x 8 columns]